/* reset */
@import './reset.css';

/* fonts */
@import './fonts/fonts.css';

/* ———————————————— general ———————————————— */
/* colors */
:root {
    --primary: #FFF;
    --secondary: #000;
    --tertiary: #e7e5e2;
    --quaternary: #00FFFF;
    --quinary: #FFF44F;
    --senary: #54FFBD;
}

/* text */
h1 {
    position: absolute;
    top: 25%;
    left: 4%;
    display: inline-block;
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-style: normal;
    font-size: 120px;
}
h1 span, h3.TBfont {
    background: var(--primary);
}
h2 {
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 15px;
}
h3:not(.TBfont) {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
h3.TBfont {
    font-size: 115px;
    width: fit-content;
}
h4 {
    font-family: 'Zilla Slab';
    font-weight: normal;
    font-style: italic;
    font-size: 19px;
}
h5 {
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}
p{
    font-family: 'Zilla Slab';
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2.5%;
    font-size: 22px;
}
.contenant{
    display: flex;
    flex-direction: column;
}

/* buttons */
button, .button-1, .button-2, .button-3 {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
    width: 120px;
    background: var(--secondary);
    border-radius: 45px;
    font-family: 'Zilla Slab';
    font-weight: 500;
    font-style: normal;
    font-size: 17.5px;
    cursor: pointer;
    border: 2px solid var(--secondary);
}
.button-1 {
    color: var(--primary);
    background: var(--secondary);
}
.button-2 {
    color: var(--secondary);
    background: var(--primary);
}
.button-3 {
    color: var(--primary);
    background: none;
    border-color: var(--primary);
}
button::after, .button-1::after, .button-2::after, .button-3::after {
    content: '';
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-top: 2.5px;
    margin-left: -15px;
    background-image: url('../dist/images/icons/rightArrow.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
    filter: invert(1);
    transition: .3s ease-in-out;
}
.button-2::after {
    filter: invert(0);
}
button:hover::after, .button-1:hover::after, .button-2:hover::after, .button-3:hover::after {
    opacity: 1;
    visibility: visible;
    margin-left: 5px;
    transform: scale(1);
}

/* others */
.main-text-effect-container {
    overflow: hidden;
}
section{
    margin-bottom: 50px;
}
.padding-default {
    padding: 0px 5%;
}
.card-default-properties {
    background: var(--primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 25px;
    border-radius: 45px;
    transition-duration: .3s;
}
.categorize-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: var(--tertiary);
    transition-duration: .5s;
}
.stars-container > img {
    height: 22.5px;
}
.stars-container > .star-off {
    opacity: 0.15;
}
.smoothanim { transition-duration: .6s; }

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

/* ———————————————— home ———————————————— */
/* header */
header {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0px 5%;
    z-index: 999;
}

/* main */
main {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
div.main-content {
    position: relative;
    width: 100%;
    height: 86%;
}
img#main-absolute-image {
    position: absolute;
    bottom: 0px;
    right: 15%;
    z-index: -1;
    max-height: 90%;
    max-width: 100%;
}
.button-container-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 14%;
}
.button-container-main > a {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}
.button-container-main > a > span {
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 15%;
    color: var(--secondary);
}
.button-container-main > a > img {
    height: 30px;
    margin-top: 10%;
    transition-duration: .2s;
}
.button-container-main > a:hover > img{
    margin-top: 15%;
}

/* what is open-source */
iframe{
    width: 100%;
}

/* here some tools */
div.categorize-of-projects {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin-bottom: 30px;
}
div.categorize-of-projects > ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
div.categorize-of-projects > ul > li {
    position: relative;
    width: inherit;
    padding: 15px 0px;
    color: var(--tertiary);
    font-family: 'Zilla Slab';
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    list-style-type: none;
    transition-duration: .3s;
}
#child-categbar {
    width: 0px;
    background: var(--secondary);
}
/* event for :hover block */
div.categorize-of-projects > ul > li:hover {
    cursor: pointer;
}
div.categorize-of-projects > ul > li:hover {
    color: var(--secondary);
}
/* event ".active" for activated block */
div.categorize-of-projects > ul > li.active {
    color: var(--secondary);
}
/* search */
.search-block {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 65px;
}
.search-block > img {
    max-width: 90%;
    max-height: 90%;
}
.search-block > input {
    font-family: 'Zilla Slab';
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    width: 100%;
    margin-left: 25px;
    padding: 15px 0px;
}
.projects-container {
    display: -webkit-inline-box;
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 35px;
    padding-bottom: 20px;
    overflow-x: scroll;
}
.project-container-border-effect {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.card-project {
    width: 320px;
    height: 100%;
    margin-right: 30px;
}
.card-project > div:first-of-type {
    display: inline-flex;
    align-items: center;
}
.card-project > h4 {
    margin-top: 10px;
    height: 145px;
    font-size: 19px;
    overflow: hidden;
}
.card-project > h5 {
    margin-top: 20px;
}
.card-project > div:first-of-type > img {
    height: 40px;
}
.card-project > div:first-of-type > .card-title-content {
    margin-left: 15px;
}
.card-project > div.is-pd {
    display: inline-flex;
    align-items: center;
}
.card-project > div.is-pd > img {
    height: 25px;
}
.card-project > div.is-pd > span {
    font-family: 'Zilla Slab';
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    margin-left: 10px;
}
.card-project > div.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 350px;
}

/* overlay popup */
.bg-fullscreen{
    background: rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
}
.card-box {
    background-color: white;
}

/* about us */
.bg-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding: 100px 0px;
    background: var(--secondary);
}
footer > * {
    color: var(--primary);
}
#mozilla-footer-logo {
    width: 100px;
}
footer > a {
    font-family: 'Zilla Slab';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-decoration: underline;
}
footer > a:hover {
    text-decoration: none;
}
#footer-icons {
    display: flex;
    flex-flow: row nowrap;
}
#footer-icons > a {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}
#footer-icons > a:hover {
    opacity: 0.25;
}
#footer-icons > a > img {
    max-height: 100%;
    max-width: 100%;
    align-content: center;
    vertical-align: middle;
}

/* mobile */
@media screen and (orientation:portrait) {
    /* text */
    h1, h3.TBfont {
        font-size: 14vw;
    }
    img#main-absolute-image {
        right: 50%;
        transform: translateX(50%);
    }
    /* buttons */
    button, .button-1, .button-2, .button-3 {
        width: 110px;
    }
    /* others */
    section{
        margin-bottom: 35px;
    }
    /* here some tools */
    div.categorize-of-projects > ul {
        display: flex;
        flex-flow: row wrap;
        width: auto;
    }
    #parent-categbar, #child-categbar {
        display: none;
    }
    .card-project {
        width: 280px;
    }
    .card-project > h4 {
        height: 175px;
    }
    .project-container-border-effect {
        width: 35px;
    }
}

/* other screens */
@media screen and (max-height:500px) {
    h1, h3.TBfont {
        font-size: 18vh;
    }
    div.main-content {
        height: 75%;
    }
}
