/* reset */
@import './reset.css';

/* fonts */
@import './fonts/fonts.css';

/* ———————————————— general ———————————————— */
/* colors */
:root {
    --primary: #FFF;
    --secondary: #000;
}

/* text */
h1 { }
h2 { }
p { }

/* others */
body {
    padding: 0px 20px;
}
/* ———————————————— home ———————————————— */
/* header */
/* main */
/* what is open-source */
/* here some tools */
/* footer */
/* mobile */
@media screen and (orientation:portrait) { }